:root {
    --ModerateViolet: hsl(263, 55%, 52%);
    --LightViolet: hsl(263, 49%, 61%);
    --DarkGrayishBlue: hsl(217, 19%, 35%);
    --DarkBlackishBlue: hsl(219, 29%, 14%);
    --LightGray: hsl(0, 0%, 81%);
    --LightGrayishBlue: hsl(210, 46%, 95%);
}


body {
    background-color: var(--LightGrayishBlue);
    padding: 10px;
    font-family: 'Barlow Semi Condensed', sans-serif;
}

.profile {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
   
}

.parent {
    display: grid;
    grid-template-columns: 40px repeat(4, 1fr) 40px;
    grid-template-rows: 40px repeat(2, auto) 40px;
    gap: 25px;
}
    
.div1 {
    grid-column: span 2 / span 2;
    grid-column-start: 2;
    grid-row-start: 2;
    background-color: var(--ModerateViolet);
    color: white;
    border-style: none;
    border-radius: 10px;
    padding: 20px; 
}

.div1 img {
    border: 3px solid var(--LightViolet);
    border-radius: 50%;
    margin: 10px;
}

.div2 {
    grid-column-start: 4;
    grid-row-start: 2;
    background-color: var(--DarkGrayishBlue);
    color: white;
    border-style: none;
    border-radius: 10px;
    padding: 20px; 
}

.div2 img {
    border: 3px solid var(--LightViolet);
    border-radius: 50%;
    margin: 10px;
}

.div3 {
    grid-row: span 2 / span 2;
    grid-column-start: 5;
    grid-row-start: 2;
    background-color: white;
    color: var(--DarkBlackishBlue);
    border-style: none;
    border-radius: 10px;
    padding: 20px; 
}

.div3 img {
    border: 3px solid var(--LightViolet);
    border-radius: 50%;
    margin: 10px;
}

.div4 {
    grid-column-start: 2;
    grid-row-start: 3;
    background-color: white;
    color: var(--DarkBlackishBlue);
    border-style: none;
    border-radius: 10px;
    padding: 20px; 
}

.div4 img {
    border: 3px solid var(--LightViolet);
    border-radius: 50%;
    margin: 10px;
}

.div5 {
    grid-column: span 2 / span 2;
    grid-column-start: 3;
    grid-row-start: 3;
    background-color: var(--DarkBlackishBlue);
    color: white;
    border-style: none;
    border-radius: 10px;
    padding: 20px; 
}

.div5 img {
    border: 3px solid var(--LightViolet);
    border-radius: 50%;
    margin: 10px;
}
        
.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }


@media only screen and (max-width:375px) {
    [class*="col-"] {
        width: 100%;
    }

}

@media only screen and (min-width:375px) {
   

}